<!DOCTYPE html>

<html>
	<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	</head>
	<body>
      <h1>Profile page~~~</h1>
	</body>

</html>